services:

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  airflow:
    image: apache/airflow:2.8.0-python3.11
    depends_on:
      - postgres
      - spark
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./spark/scripts:/opt/spark/scripts
    ports:
      - "8080:8080"
    command: >
      bash -c "airflow db upgrade &&
               airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin &&
               airflow webserver & airflow scheduler"

  spark:
    image: apache/spark:3.4.1-python3
    container_name: spark
    environment:
      - SPARK_DRIVER_MEMORY=2g
      - SPARK_EXECUTOR_MEMORY=2g
    volumes:
      - ./spark/scripts:/opt/spark/scripts
      - ./data:/data
    command: tail -f /dev/null
    ports:
      - "4040:4040"

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8081:8080"
    volumes:
      - ./trino/catalog:/etc/trino/catalog

  superset:
    image: apache/superset:latest
    container_name: superset
    environment:
      SUPERSET_ENV: development
    ports:
      - "8088:8088"
    depends_on:
      - trino
    volumes:
      - ./superset:/app/superset

volumes:
  minio_data:
  pgdata:
